<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="logotipo">
      Instagram
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="paper-plane"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="historias">
    <ion-slides>
      <ion-slide class="ion-padding-vertical">
            <ion-fab-button><img src="../../assets/images/user.jfif" alt=""></ion-fab-button>
            <ion-fab-button><img src="../../assets/images/elbicho.jpg" alt=""></ion-fab-button>
            <ion-fab-button><img src="../../assets/images/valvin.jpg" alt=""></ion-fab-button>
            <ion-fab-button><img src="../../assets/images/barsa.jpg" alt=""></ion-fab-button>
      </ion-slide>
      <ion-slide class="ion-padding-vertical">
        <ion-fab-button><img src="../../assets/images/user.jfif" alt=""></ion-fab-button>
        <ion-fab-button><img src="../../assets/images/elbicho.jpg" alt=""></ion-fab-button>
        <ion-fab-button><img src="../../assets/images/valvin.jpg" alt=""></ion-fab-button>
        <ion-fab-button><img src="../../assets/images/barsa.jpg" alt=""></ion-fab-button>
  </ion-slide>
    </ion-slides>
  </div>
  <div id="publicacion">
    <ion-card>
      <ion-card-title>
        <div id="carac">
          <div id="user">
          <ion-fab-button size="small"><img src="../../assets/images/user.jfif" alt=""></ion-fab-button>
          <ion-note class="nombre">erpepeeeeeee</ion-note>
          </div>
          <div class="ion-padding">
          <ion-note class="follow" color="primary" >seguir</ion-note>
          </div>
        </div>
      </ion-card-title>
      <ion-card-content>
        <ion-slides pager="true">
          <ion-slide>
            <img src="../../assets/images/paisaje.jfif" alt="">
          </ion-slide>

          <ion-slide>
            <img src="../../assets/images/paisaje2.jfif" alt="">
          </ion-slide>
        </ion-slides>
        <div id="info">
          <div>
            <ion-buttons slot="start">
              <ion-button>
                <ion-icon name="heart"></ion-icon>
              </ion-button>

              <ion-button>
                <ion-icon name="chatbubble"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon name="paper-plane"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
            <ion-buttons slot="end">
              <ion-button>
                <ion-icon name="bookmark"></ion-icon>
              </ion-button>
            </ion-buttons>
        </div>
        <div id="like">
            <ion-note>300 Me gusta</ion-note>
        </div>
        <div id="comment">
          <div id="us">
          <ion-fab-button size="small"><img src="../../assets/images/user.jfif" alt=""></ion-fab-button>
        </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Assumenda eos reprehenderit saepe autem ipsum. Nostrum, consectetur amet odit
            sapiente cum pariatur hic, rerum veniam veritatis nisi sint labore quasi 
            rem.</p>
        </div>
        <div>
          <ion-note class="comen">Ver 5 comentarios más</ion-note>
        </div>
        <ion-note class="time">Hace 5 horas</ion-note>


      </ion-card-content>
    </ion-card>
  </div>



  <div id="publicacion">
    <ion-card>
      <ion-card-title>
        <div id="carac">
          <div id="user">
          <ion-fab-button size="small"><img src="../../assets/images/user.jfif" alt=""></ion-fab-button>
          <ion-note class="nombre">erpepeeeeeee</ion-note>
          </div>
          <div  class="ion-padding">
          <ion-note class="follow" color="primary" >seguir</ion-note>
          </div>
        </div>
      </ion-card-title>
      <ion-card-content>
        <ion-slides pager="true">
          <ion-slide>
            <img src="../../assets/images/paisaje.jfif" alt="">
          </ion-slide>

          <ion-slide>
            <img src="../../assets/images/paisaje2.jfif" alt="">
          </ion-slide>
        </ion-slides>
        <div id="info">
          <div>
            <ion-buttons slot="start">
              <ion-button>
                <ion-icon name="heart"></ion-icon>
              </ion-button>

              <ion-button>
                <ion-icon name="chatbubble"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon name="paper-plane"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
            <ion-buttons slot="end">
              <ion-button>
                <ion-icon name="bookmark"></ion-icon>
              </ion-button>
            </ion-buttons>
        </div>
        <div id="like">
            <ion-note>300 Me gusta</ion-note>
        </div>
        <div id="comment">
          <div id="us">
          <ion-fab-button size="small"><img src="../../assets/images/user.jfif" alt=""></ion-fab-button>
        </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Assumenda eos reprehenderit saepe autem ipsum. Nostrum, consectetur amet odit
            sapiente cum pariatur hic, rerum veniam veritatis nisi sint labore quasi 
            rem.</p>
        </div>
        <div>
          <ion-note class="comen">Ver 5 comentarios más</ion-note>
        </div>
        <ion-note class="time">Hace 5 horas</ion-note>


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
